@media all and (min-width: 680px) {
    .singleBoardInLobby .singleBoardItem {
        width: 6%;
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        justify-content: space-between;
    }

    .toolbar-item {
        width: 6%;
        cursor: context-menu;
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

@media all and (min-width: 800px) {
    .singleBoardInLobby .singleBoardItem {
        width: 7%;
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        justify-content: space-between;
    }

    .toolbar-item {
        width: 7%;
        cursor: context-menu;
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

@media all and (min-width: 1000px) {
    .singleBoardInLobby .singleBoardItem {
        width: 8%;
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        justify-content: space-between;
    }

    .toolbar-item {
        width: 8%;
        cursor: context-menu;
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

@media all and (min-width: 1200px) {
    .singleBoardInLobby .singleBoardItem {
        width: 8%;
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        justify-content: space-between;
    }

    .toolbar-item {
        width: 8%;
        cursor: context-menu;
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

.btn {
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    border-style: solid;
    background-color: rgba(225, 236, 230, 1);
    border-color: rgba(225, 236, 230, 1);
    margin: 0 3px;
}

.chat-base-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 500px;
}

.container-PreGame{
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat-base-container .user-info-area {
    margin: 8px;
    font-size: 16px;
}

html{
    height: 100%;
    width: 100%;
    background: #87CEEB;
}

.login-page-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page-wrapper .taki-logo {
    width: 250px;
    margin: 16px 0;
}

.login-page-wrapper .username-label {
    margin: 0 5px;
    font-size: 18px;
}

.login-page-wrapper .username-input {
    font-size: 16px;
    line-height: 16px;
    margin: 1px;
    border: 1px solid #ccc;
}

.login-page-wrapper .submit-btn:hover {
    background-color: rgba(215, 216, 210, 1);
    border-color: rgba(215, 216, 210, 1);
}

.login-error-message {
    color: red;
    font-weight: 600;
}

.chat-contaier {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toolbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3733af;
}

.registerUsers {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    fon-size:40px;
}

#checkbox1{
    display: block;
    text-align: center;
    line-height: 100%;
}

.singleBoardInLobby{
    border: 1px solid #dadada;
    border-color: #cadcff;
}


.singleBoardInLobby .DeleteGameButton{
    font-size: 16px;
    color:black;
    cursor: pointer;
    border-style: solid;
    background-color: #f3f1ec;
    border-color: #f3f1ec;
    margin: 0 3px;
    width: 10%;
    display: inline-block;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
.singleBoardInLobby .ViewGameButton{
    font-size: 16px;
    color:black;
    cursor: pointer;
    border-style: solid;
    background-color: #f3f1ec;
    border-color: #f3f1ec;
    margin: 0 3px;
    width: 10%;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.singleBoardInLobby .EnterGameButton{
    float: left;
    font-size: 16px;
    color:black;
    cursor: pointer;
    border-style: solid;
    background-color: #f3f1ec;
    border-color: #f3f1ec;
    width: 10%;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.singleBoardInLobby .EnterGameButton:hover, .singleBoardInLobby .ViewGameButton:hover{
    background-color: rgba(215, 216, 210, 1);
    border-color: rgba(215, 216, 210, 1);
}

.chat-contaier .converssion-area-wrpper {
    flex-grow: 1;
    margin: 3px;
    padding: 8px;
    list-style-type: none;
}

.chat-contaier .converssion-area-wrpper .lobbyBoards{
    flex-grow: 1;
    padding: 0px;
    margin: 3px;
    list-style-type: none;
}


.chat-contaier .converssion-area-wrpper p{
    margin: 0 0 8px 0;
}

.chat-contaier .chat-input-wrapper{
    margin-bottom: 8px;
    width: 100%;
    display: flex;
    height: 48px;
}
.ComputerLabel{
    vertical-align: 22px;
    padding: 4px;
}

.chat-contaier .chat-input-wrapper input{
    line-height: 16px;
    font-size: 16px;
    margin: 1px;
    height: 48px;
    padding: 8px;
    box-sizing: border-box;
    flex-grow: 1;
}

.chat-contaier .chat-input-wrapper .btn {
    flex-grow: 0;
    width: 88px;
    margin: 0 2px 0 5px;
    background-color: rgba(225, 226, 220, 1);
    border-color: rgba(225, 226, 220, 1);
}

.chat-contaier .chat-input-wrapper .btn:hover {
    background-color: rgba(215, 216, 210, 1);
    border-color: rgba(215, 216, 210, 1);
}